.parent {
  /* text-align会对inline的子级生效，设置为center就会水平居中 */
  text-align: center;
}

.child {
  /* display设置为inline-block子级就不会撑满父级，而是自适应内容 */
  display: inline-block;
  /* text-align会继承，child的子级也会水平居中，如果我们想恢复默认，手动写为左对齐就行了 */
  text-align: left;
}

.parent {
}

.child {
  /* display设置为table，如果不指定宽度，宽度就是自适应内容 */
  display: table;
  /* display如果是table，margin auto就可以生效 */
  /* 如果没有设置display为table，margin auto不能生效*/
  margin: 0 auto;
}
/* 如果知道子元素宽度，可以直接应用margin auto */
.child {
  width: 100px;
  margin: auto;
}

.parent {
  /* 父级设置relative好让子级absolute相对于父级定位 */
  position: relative;
}

.child {
  position: absolute;
  /* left 50%会让子级在正中稍微靠右一点 */
  left: 50%;
  /* translateX百分比相对的是自身，因为前面靠右了，往左挪一点 */
  /* 挪的位置刚好是自身宽的一半*/
  transform: translateX(-50%);
}

.parent {
  display: flex;
}

.child {
  margin: 0 auto;
}